body {
    background-image: url(../assets/images/landing.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

.RectDesign { 
    position: relative;
    width: 32em;
    height: 6em;
    left: 0em;
    top: 25em;

background: rgba(211, 212, 214, 0.63);
border-radius: 0px 40px 40px 0px;
}

.Logo {
    position: absolute;
    top:0.5em;
    left:16em;
}

.Name {
    position: absolute;
    top:0.5em;
    left:33em;
}

.TextU{
    position: relative;
    width: 61px;
    height: 32px;
    left: 750px;
    top: 25px;

font-family: 'Noto Sans CJK KR';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;

color: #000000;
}

.TextD{
    position: relative;
    width: 150px;
    height: 32px;
    left: 750px;
    top: 0px;

font-family: 'Noto Sans CJK KR';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;

color: #000000;
}


.Block {
    position: relative;
    width: 644px;
    height: 756px;
    left: 80em;
    top: 1em;

background: rgba(236, 236, 236, 0.63);
border-radius: 20px;
}

.LoginText {
    position: relative;
    width: 190px;
height: 50px;
left: 280px;
top: 150px;

font-family: 'Noto Sans CJK KR';
font-style: normal;
font-weight: 300;
font-size: 35px;
line-height: 44px;

color: #000000;
}

.IDText {
    position: relative;
width: 50px;
height: 27px;
left: 60px;
top: 240px;

font-family: 'Noto Sans CJK KR';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height */

color: #000000;
}

.Id {
    box-sizing: border-box;

position: relative;
width: 432px;
height: 70px;
left: 140px;
top: 170px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.7);
border-radius: 10px;

font-family: 'Noto Sans CJK KR';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
}

.PWText {
    position: relative;
width: 500px;
height: 27px;
left: 60px;
top: 203px;

font-family: 'Noto Sans CJK KR';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height */

color: #000000;
}

.Pw {
    box-sizing: border-box;

position: relative;
width: 432px;
height: 70px;
left: 140px;
top: 140px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.7);
border-radius: 10px;

font-family: 'Noto Sans CJK KR';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
}

.LoginBtn {
    box-sizing: border-box;
position: relative;
width: 151px;
height: 40px;
left: -180px;
top: 270px;

background: #5166AF;
border: 1px solid #5166AF;
border-radius: 10px;

font-family: 'Noto Sans CJK KR';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
}

.JoinBtn {
    box-sizing: border-box;

position: relative;
width: 151px;
height: 40px;
left: 252px;
top: 270px;

border: 1px solid #5166AF;
border-radius: 10px;

font-family: 'Noto Sans CJK KR';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
}
